<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home"  ng-click="onClickTab(0)">
    <ion-nav-view name="tab-homepage"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="分类" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ng-click="onClickTab(1)">
    <ion-nav-view name="tab-category"></ion-nav-view>
  </ion-tab>

  <!-- 关注列表 Tab -->
  <ion-tab title="发现" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" ng-click="onClickTab(2)">
    <ion-nav-view name="tab-follows"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ng-click="onClickTab(3)">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
